
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Rajdhani-SemiBold.woff') format('woff'), url('Rajdhani-SemiBold.ttf')  format('truetype'), url('Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
