/node_modules
/public/css
/public/js
/public/fonts
/public/images
public/mix-manifest.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
testfolder
*__backup*
composer.lock
