.skin-red-light .wrapper, .skin-red-light .main-sidebar, .skin-red-light .left-side{
 background-color: #CACCCB;
}
.main-sidebar, .left-side{
  z-index: 1030;
  padding-top: 0px;
}
.skin-red-light .main-header .logo{
  /*background-color: #CACCCB;*/
}
.skin-red-light .main-header .logo img{
    height: 100%;
    padding-top: 3px;
    padding-bottom: 4px;
}
.table > thead > tr > th {
    background-color: #666;
    color: white;
    /*font-size: 12px;*/
}
.table > tbody > tr > td{
  /*font-size: 12px;*/
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f4f4f4f4;
}
.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #eaeaea;
}
.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a,
.skin-red-light .sidebar-menu > li > .treeview-menu{
  background-color: #DADCDB;
}
.skin-red-light.sidebar-collapse
.main-header .navbar{
  margin-left: 0px;
}
.sidebar-menu > li > a{
  padding: 5px;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 40px;
}
.text-red{
  color : #dd4b39;
}
.border-red{
  border : 1px solid #dd4b39;
}
.border-bottom-red{
  border-bottom: 1px solid #dd4b39 !important;
}
.bootstrap-tagsinput{
  width: 100%;
  border-radius: 0px;
  padding: 6px 12px;
  border:1px solid #d2d6de;
  box-shadow: none;
}
/*.bootstrap-tagsinput>input{
  width: auto;
  d
}*/
.inline{
  display: inline-block;
}
.bottom5{
  margin-bottom: 5px;
}.bottom10{
  margin-bottom: 10px;
}.bottom15{
  margin-bottom: 15px;
}.bottom20{
  margin-bottom: 20px;
}.bottom25{
  margin-bottom: 25px;
}.bottom30{
  margin-bottom: 30px;
}.bottom35{
  margin-bottom: 35px;
}.bottom40{
  margin-bottom: 40px;
}.bottom45{
  margin-bottom: 45px;
}.bottom50{
  margin-bottom: 50px;
}.bottom55{
  margin-bottom: 55px;
}
.top5{
  margin-top: 5px;
}.top10{
  margin-top: 10px;
}.top15{
  margin-top: 15px;
}.top20{
  margin-top: 20px;
}.top25{
  margin-top: 25px;
}.top30{
  margin-top: 30px;
}.top35{
  margin-top: 35px;
}.top40{
  margin-top: 40px;
}.top45{
  margin-top: 45px;
}.top50{
  margin-top: 50px;
}.top55{
  margin-top: 55px;
}
.skin-red-light .content-header {
  background-color: #898A8B;
  margin-left: -1px;
  color: white;
  padding: 12px 15px;
}
.nav-tabs-custom {
    margin-bottom: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 transparent;
}
.nav-tabs-custom > .tab-content{
    background: transparent;
}
.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #898A8B;
    border-bottom-width: 2px;
}
.nav-tabs-custom > .nav-tabs > li > a {
    color: #898A8B;
    border-radius: 0;
    font-size: 16px;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: transparent;
    border-right-color: transparent;
    color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: transparent;
    color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top: 0px none;
    border-bottom: 2px solid #3c8dbc;
}
.nav-tabs-custom > .tab-content{
  padding: 10px 0;
}
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
.has-error .select2-selection,
.has-error .form-control {
    border-color: #dd4b39 !important;
}
.form-group.has-error .help-block,
.has-error .help-block {
    color: #dd4b39 !important;
}
table.tableLaravel thead .sorting,
table.tableLaravel thead .sorting_asc,
table.tableLaravel thead .sorting_desc,
table.tableLaravel thead .sorting_asc_disabled,
table.tableLaravel thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative;
}

table.tableLaravel thead .sorting:after,
table.tableLaravel thead .sorting_asc:after,
table.tableLaravel thead .sorting_desc:after {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
}
table.tableLaravel thead .sorting:after {
	opacity: 0.2;
	content: "\e150"; /* sort */
}
table.tableLaravel thead .sorting_asc:after {
	content: "\e155"; /* sort-by-attributes */
}
table.tableLaravel thead .sorting_desc:after {
	content: "\e156"; /* sort-by-attributes-alt */
}
table.tableLaravel thead .sorting_asc_disabled:after,
table.tableLaravel thead .sorting_desc_disabled:after {
	color: #eee;
}
.text-me{
  padding-top: 7px;
  font-size: 16px;
}
.loading2{
  background-color: rgba(255,255,255,0.5);position: absolute;width: 100%;height: 100%;background-image: url(../images/loader.gif);background-position: center center;background-repeat: no-repeat;z-index:1000;display: none;
}
.td-expand{
  position: relative;
  cursor: pointer;
}
.td-expand.plus:after{
  content: "\f055";
  font-family: 'FontAwesome';
  position: absolute;
  left: -10px;
  color: #dd4b39;
  top:6px;
  z-index: 2;
}
.td-expand.minus:after{
  content: "\f056";
  font-family: 'FontAwesome';
  position: absolute;
  left: -10px;
  color: #dd4b39;
  top:6px;
  z-index: 2;
}
.child-1 {
    position: relative;
    padding-left: 42px !important;
}
.child-1:after {
    content: "\f178";
    font-family: 'FontAwesome';
    position: absolute ;
    left: 24px;
    top:6px;
    z-index: 2;
}
.child-2 {
    position: relative;
    padding-left: 70px !important;
}
.child-2:after {
    content: "\f178";
    font-family: 'FontAwesome';
    position: absolute ;
    left: 52px;
    top:6px;
    z-index: 2;
}
.child-3 {
    position: relative;
    padding-left: 100px !important;
}
.child-3:after {
    content: "\f178";
    font-family: 'FontAwesome';
    position: absolute ;
    left: 82px;
    top:6px;
    z-index: 2;
}
.child-1.td-expand,
.child-2.td-expand,
.child-3.td-expand{
  cursor: pointer;
}
.child-1.td-expand.plus:after,
.child-1.td-expand.minus:after{
  left: 24px;
}
.child-2.td-expand.plus:after,
.child-2.td-expand.minus:after{
  left: 52px;
}
.child-3.td-expand.plus:after,
.child-3.td-expand.minus:after{
  left: 82px;
}
td > .btn{
  margin-right: 6px; 
}
.direct-chat-primary .other > .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
}
.direct-chat-primary .other > .direct-chat-text:after, 
.direct-chat-primary .other > .direct-chat-text:before {
    border-right-color: #3c8dbc;
}
/*.direct-chat-primary .other .direct-chat-img{
  border:2px solid #3c8dbc;
}*/
.direct-chat-primary  .direct-chat-img{
  border:2px solid #d2d6de;
}
.direct-chat-messages{
  height: auto;
  max-height : 400px;
  min-height: 70px;
}
.direct-chat-text{
  margin: 5px 0 0 0;
}
.relative{
  position: relative;
}
.loading-ao{
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  z-index:1000;
  display: none;
}
.direct-chat-info{
  font-size: 14px;
}
}
.direct-chat-text:after, 
.direct-chat-text:before {
    border: 0px none;
}
/*.child-2:before {

    background-image: url(../images/02.png);
    position: absolute;
    content: '';
    width: 51px;
    left: -4px;
    height: 36px;
    top: -16px;
    background-size: 100% 100%;
    z-index: 1;

}
.child-1:before {

    background-image: url(../images/03.png);
    position: absolute;
    content: '';
    width: 26px;
    left: -4px;
    height: 41px;
    top: -20px;
    background-size: 100% 100%;
    z-index: 1;

}
.child-3:before {
    background-image: url(../images/01.png);
    position: absolute;
    content: '';
    width: 82px;
    left: -4px;
    height: 41px;
    top: -20px;
    background-size: 100% 100%;
    z-index: 1;
}*/

