
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular/Oswald-Regular.ttf')  format('truetype'), url('../fonts/Oswald-Regular/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold/Oswald-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Bold/Oswald-Bold.woff') format('woff'), url('../fonts/Oswald-Regular/Oswald-Bold.ttf')  format('truetype'), url('../fonts/Oswald-Bold/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.woff') format('woff'), url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.ttf')  format('truetype'), url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.svg#Oswald-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light/Oswald-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Light/Oswald-Light.woff') format('woff'), url('../fonts/Oswald-Light/Oswald-Light.ttf')  format('truetype'), url('../fonts/Oswald-Light/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Medium';
  src: url('../fonts/Oswald-Medium/Oswald-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Medium/Oswald-Medium.woff') format('woff'), url('../fonts/Oswald-Medium/Oswald-Medium.ttf')  format('truetype'), url('../fonts/Oswald-Medium/Oswald-Medium.svg#Oswald-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-SemiBold';
  src: url('../fonts/Oswald-SemiBold/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-SemiBold/Oswald-SemiBold.woff') format('woff'), url('../fonts/Oswald-SemiBold/Oswald-SemiBold.ttf')  format('truetype'), url('../fonts/Oswald-SemiBold/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('../fonts/Rajdhani-Bold/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rajdhani-Bold/Rajdhani-Bold.woff') format('woff'), url('../fonts/Rajdhani-Bold/Rajdhani-Bold.ttf')  format('truetype'), url('../fonts/Rajdhani-Bold/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Light';
  src: url('../fonts/Rajdhani-Light/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rajdhani-Light/Rajdhani-Light.woff') format('woff'), url('../fonts/Rajdhani-Light/Rajdhani-Light.ttf')  format('truetype'), url('../fonts/Rajdhani-Light/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('../fonts/Rajdhani-Medium/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rajdhani-Medium/Rajdhani-Medium.woff') format('woff'), url('../fonts/Rajdhani-Medium/Rajdhani-Medium.ttf')  format('truetype'), url('../fonts/Rajdhani-Medium/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../fonts/Rajdhani-Regular/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rajdhani-Regular/Rajdhani-Regular.woff') format('woff'), url('../fonts/Rajdhani-Regular/Rajdhani-Regular.ttf')  format('truetype'), url('../fonts/Rajdhani-Regular/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('../fonts/Rajdhani-SemiBold/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rajdhani-SemiBold/Rajdhani-SemiBold.woff') format('woff'), url('../fonts/Rajdhani-SemiBold/Rajdhani-SemiBold.ttf')  format('truetype'), url('../fonts/Rajdhani-SemiBold/Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

