
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),  url('Rajdhani-Regular.woff') format('woff'), url('Rajdhani-Regular.ttf')  format('truetype'), url('Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
