
@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),  url('Rajdhani-Bold.woff') format('woff'), url('Rajdhani-Bold.ttf')  format('truetype'), url('Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
