
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),  url('Rajdhani-Medium.woff') format('woff'), url('Rajdhani-Medium.ttf')  format('truetype'), url('Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
